@model codeweb.Models.OrderPro


@{
    ViewBag.Title = "CheckOutSuccess";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="d-flex justify-content-center align-items-center flex-column pt-3">
    <h2>Your order will be delivered after 2-3 days</h2>
    <h3>Please prepare your money</h3>
    <h3>Order ID: @Model.ID</h3>
    <a href="@Url.Action("Index", "Home")">&#8592 Return Home</a>
</div>