<!DOCTYPE HTML>
<html lang="en">
<div>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width= device-width,
          initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet"href="~/Content/CSS/Index.css" />
</div>
<div>
    <div class="Header" style="display:flex;
align-items:center;
justify-content:space-between;">
        <a href="~/Views/Home/Index.cshtml" class="logo">PXT</a>
        <nav class="navbar">
            <a href="#">Home</a>
            <a href="#">Shop</a>
        </nav>
        <nav class="navbar2">
            <a href="#">Sign in</a>
            <a href="#">Sign up</a>
        </nav>
    </div>
    <div class="Header2">
        <div class="Image1">
            <img src="~/img/EgBTBCBUwAM0Tmn2_waifu2x_2560x1600_3n_png.png" />

        </div>
    </div>
</div>
</html>