@model Tuple<IEnumerable <codeweb.Models.Product>,IEnumerable <codeweb.Models.Category >>

<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width= device-width,
          initial-scale=1.0" />
    <title>Navbar</title>
    <link rel="stylesheet" href="~/Content/CSS/Index.css" />
</head>
<body style="width:1894px;height:2626px">
    @* <div>
        <div class="Header" style="display:flex; align-items:center; justify-content:space-between; padding-bottom:50px">
            <a href=@Url.Action("Index") class="logo" style="color: black; text-decoration:none;font-size:50px; font-family:'Volkhov,serif';font-weight:300">PXT</a>
            <nav class="navbar">
                <a href=@Url.Action("Index") style="color: black; text-decoration:none;font-size:20px">Home</a>
                <a href="#" style="color: black; text-decoration:none;font-size:20px">Shop</a>
            </nav>
            <nav class="navbar2">
                <a href="#" style="color: black; text-decoration:none;font-size:20px">Sign in</a>
                <a href="#" style="color: black; text-decoration:none;font-size:20px">Sign up</a>
            </nav>
        </div>*@
    <div class="Header2">
        <div class="banner">
            <img src="~/img/banner1.png" />
        </div>
        <div class="banner-middle-wrapper">
            <div class="image-container"></div>
            <h2 style="color: #484848; font-size: 91px">ULTIMATE</h2>
            <h2 style="color: #956D6D; font-size: 187px">SALE</h2>
            <h2 style="color: #484848; font-size: 20px">NEW COLLECTION</h2>
        </div>
        <div class="banner">
            <img src="~/img/banner1.png" />
        </div>
    </div>
    <div style="position: relative; right: 50vw; background-color: #FEEAA2; width: 150vw; height: 200px; box-shadow: 0px 20px 52.29px 0px #4444440A;"></div>
    <div style="height: 100vh; margin: 4rem 0;">

    </div>
</body>
</html>
